{% import _self as _self %}

{% macro bye(name) %}
    <p> Bye, {{ name }}!</p>
{% endmacro %}

{% macro welcome(name) %}
    <p>Welcome, {{ name }}!</p>

    {{ _self.bye(name) }}
{% endmacro %}


{% set author = 'Albert Einstein' %}
{{ _self.welcome(author) }}
